<h1><%=@recipe.name%>, <%=@recipe.rating%> Star(s)!</h1>
<ul>
  <% @recipe.ingredients().each() do |ingredient| %>
    <li>
      <%= ingredient.name() %>
      <form action="/recipes/delete/ingredients/<%= ingredient.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button name="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><%=@recipe.instructions%></p>

<form id="add_previous_ingredient" action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
  <label for="ingredient_select">Select the Ingredient:  </label>
    <br>
  <select id="ingredient_id" name="ingredient_id">
    <% @ingredients.each() do |ingredient| %>
      <option value="<%= ingredient.id() %>"><%= ingredient.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>

<form class="" action="/recipes/<%= @recipe.id() %>/add/ingredients" method="post">
  <label for="ingredient">Don't see your ingredient? Add it here:</label>
  <input type="text" name="ingredient" placeholder="Ingredient e.g. Cheese">
  <button name="button">Add Ingredient</button>
</form>

<a href="/">Home</a>
